header {
    background-color: rgb(115, 7, 7);
    height: 100px;
}

.title-nav-div {
    display: flex;
    flex-direction: row;
    margin-left: 135PX;
    margin-right: 135PX;
    align-items: center;
    justify-content: space-between;
    
}

h1 {
    color:  rgb(255, 241, 241);
}

.h1-p1 {
    font-size: 15px;
    margin-bottom: 0px;
}

.h1-p2 {
    font-size: 19px;
    margin-top: 0px;
   font-style: bold;
}

nav {
    color: rgb(255, 241, 241);
    vertical-align: top;
}

a {
    font-size: 20px;
    margin-left: 30px;
    font-style: bold;
    color: rgb(255, 241, 241);
    text-decoration: none;
}

main {
    margin-top: 0px;
    height: fit-content;
    background-color: white;
}

.title-section {
    margin-top: 0px;
    height: 150px;
    background-color: rgb(255, 241, 241);
}

h2 {
    margin-top: 0px;
    margin-left: 135px;
    color: rgb(115, 7, 7);
    text-align: left;
    padding-top: 50px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

h3 {
    margin-top: 0px;
    margin-bottom: 15px;
    color:  rgb(115, 7, 7);
    font-size: 30px;
}

.main-div-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 135px;
    padding-right: 135px;
    color:  rgb(115, 7, 7);
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loc-detail-p {
    font-size: 25px;
    margin-top: 0px;

}

.name-textarea {
    width: 480px;
    height: 50px;
    color: rgb(115, 7, 7, 0.5);
    text-align: left;
    font-size: 20px;
    border: 1px solid rgb(115, 7, 7);
    margin-bottom: 30px;
}

.email-textarea {
    width: 480px;
    height: 50px;
    color: rgb(115, 7, 7, 0.5);
    text-align: left;
    font-size: 20px;
    border: 1px solid rgb(115, 7, 7);
    margin-bottom: 30px;
}

.message-textarea {
    width: 480px;
    height: 150px;
    color: rgb(115, 7, 7, 0.5);
    text-align:left;
    font-size: 20px;
    border: 1px solid rgb(115, 7, 7);
    display: block;
    margin-bottom: 30px;
}

.send-button {
    margin-top: 0px;
    padding-top: 0px;
    height: 50px;
    width: 120px;
    background-color: rgb(115, 7, 7);
    color: rgb(255, 241, 241);
    cursor: pointer;
    vertical-align: top;
    border: 1px solid rgb(115, 7, 7);
    font-size: 25px;
}


footer {
    height: 430px;
    background-color: rgb(115, 7, 7);
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
    padding-top: 150px;
    padding-left: 550px;
    margin: 0px;
    margin-bottom: 150px;
}

.email-icon-div {
    width: 50px;
    height: 50px;
}


.icon-link {
width: fit-content;
width: fit-content;
}

.email-img {
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.footer-info-flex {
    display: flex;
    flex-direction: row;
    padding-left: 135px;
    padding-right: 135px;
    justify-content: space-between;
    margin: 0px;
}

.info-flex-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
  
}

.powered-p {
    color: white;
    margin: 0px;
    font-size: 20px;
    margin-right: 20px;
}

.macvans-p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}